Package: pusher
Version: 1.0
Architecture: all
Maintainer: Golov Pavel
Installed-Size: 6
Depends: bash, git
Section: utils
Priority: optional
Homepage: https://github.com/GolovPavel/pusher
Description: Script for automation git push process
